<h1> {{ question.question_text }} </h1>

{% comment %} 
<ul>
{% for choice in  question.choice_set.all %}
    <li> {{ choice.choice_text }} </li>
{% endfor %} 

</ul>
{% endcomment %}

{% if error_message %}

<p> <strong> {{ error_message }} </strong></p>

{% endif %}

{% comment %} polls 指定应用空间: 见urls.py --> app_name {% endcomment %}
<form action="{% url 'polls:vote' question.id %}" method="post" >
{% comment %} 使用POST时必须使用csrf_token {% endcomment %}
{% csrf_token %}
{% for choice  in  question.choice_set.all %}
    <input type="radio" name="choice" id="choice {{ forloop.counter }}" value="{{ choice.id }}">

    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }} </label><br>
{% endfor %}
    <input type="submit" value="Vote">
</form>